/* BS overwrite */
/*@media (max-width: 991px) {
	.navbar-collapse {
		margin-top: 50px;
	}
}*/
.container p, .container ul {
	color: #777;
	margin-bottom: 20px;
}
.container ul {
	margin-bottom: 30px;
}
.container h2 {
	margin-top: 30px;
	margin-bottom: 15px;
	color: #9B3957;
}
.container .btn {
	font-size: 13px;
	margin-top: 5px;
	padding: 8px 16px;
	background-color: #fff;
	color: #555;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.container .btn:hover, .container .btn:focus {
	background-color: #9B3957;
	outline: 0px;
	color: #fff;
	border: 1px solid #9B3957;
}
.navbar-brand {
	min-height: 80px;
}

.navbar-brand img {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.navbar-brand img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Other */
main a {
	color: #386A8D;
	border-bottom: 1px dotted;
}
main a:hover {
	color: #5b94be;
	border-bottom: none;
	text-decoration: none;
}

main ul {
  list-style: circle outside url('img/list-bullet.png');
}

main li {
	margin-bottom: 5px;
}

.event {
	padding-top: 10px;
	margin-right: 20px;
}

.event > .date {
	float: right;
}

.event > .date span {
	color: #9B3957;
	font-size: 1.3em;
	font-weight: bold;
}

.event > h3 span {
	color: #9B3957;
}
.event img {
	clear: both;
	float: right;
	margin-top: 15px;
	margin-left: 5px;
}
.event p {
	clear: left;
}

.event h3 {
	float: left;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.hidden {
     display:none;
}

.person {
	margin-bottom: 40px;
}

.person2 {
	margin-bottom: 40px;
}

.person2 img {
	height: 170px;
	width: auto;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #9B3957;
}

.person2 h3 {
	text-align: center;
	font-size: 22px;
}

.publications li {
	margin-bottom: 10px;
}

.publications a {
	font-size: 1.08em;
	font-style: normal;
}

.publication {
	margin-left: 15px;
	margin-bottom: 20px;
}

.publication h4 {
	/*border-bottom: 1px solid #9B3957;*/
	margin-bottom: 5px;
}

.activity {
	margin-left: 15px;
	margin-bottom: 20px;	
}

@media (max-width: 991px) {
	.event img {
		margin-top: 5px;
	}
}